
body{
  font-family: 'Open Sans', sans-serif;

}

.fondoBarraLogos{
  background-color: rgb(0, 173, 239)
}

.logoDogos{
width: 100%;
}

.logoSponsor{
  width: 200%;
  margin-top: 100%;
  }

.fondoBody{
    background-image: url(img/pasto3a.jpeg);
    height: 1200px;
  }
